OnlineShop/src/conf/xml-resources/web-service-references/WebEntwProduct/wsdl/localhost_8080/WebService/WebEntwProduct.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://resource/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://resource/" name="WebEntwProduct">
<types>
<xsd:schema>
<xsd:import namespace="http://resource/" schemaLocation="http://localhost:8080/WebService/WebEntwProduct?xsd=1"/>
</xsd:schema>
</types>
<message name="productWID">
<part name="parameters" element="tns:productWID"/>
</message>
<message name="productWIDResponse">
<part name="parameters" element="tns:productWIDResponse"/>
</message>
<message name="products">
<part name="parameters" element="tns:products"/>
</message>
<message name="productsResponse">
<part name="parameters" element="tns:productsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WebEntwProduct">
<operation name="productWID">
<input wsam:Action="http://resource/WebEntwProduct/productWIDRequest" message="tns:productWID"/>
<output wsam:Action="http://resource/WebEntwProduct/productWIDResponse" message="tns:productWIDResponse"/>
</operation>
<operation name="products">
<input wsam:Action="http://resource/WebEntwProduct/productsRequest" message="tns:products"/>
<output wsam:Action="http://resource/WebEntwProduct/productsResponse" message="tns:productsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://resource/WebEntwProduct/helloRequest" message="tns:hello"/>
<output wsam:Action="http://resource/WebEntwProduct/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WebEntwProductPortBinding" type="tns:WebEntwProduct">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="productWID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="products">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebEntwProduct">
<port name="WebEntwProductPort" binding="tns:WebEntwProductPortBinding">
<soap:address location="http://localhost:8080/WebService/WebEntwProduct"/>
</port>
</service>
</definitions>