OnlineShop/src/conf/xml-resources/web-service-references/WebEntw/wsdl/localhost_8080/WebService/WebEntw.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://resource/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://resource/" name="WebEntw">
<types>
<xsd:schema>
<xsd:import namespace="http://resource/" schemaLocation="http://localhost:8080/WebService/WebEntw?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="productWID">
<part name="parameters" element="tns:productWID"/>
</message>
<message name="productWIDResponse">
<part name="parameters" element="tns:productWIDResponse"/>
</message>
<message name="validateCode">
<part name="parameters" element="tns:validateCode"/>
</message>
<message name="validateCodeResponse">
<part name="parameters" element="tns:validateCodeResponse"/>
</message>
<message name="products">
<part name="parameters" element="tns:products"/>
</message>
<message name="productsResponse">
<part name="parameters" element="tns:productsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="removeProductFromCart">
<part name="parameters" element="tns:removeProductFromCart"/>
</message>
<message name="removeProductFromCartResponse">
<part name="parameters" element="tns:removeProductFromCartResponse"/>
</message>
<message name="removeProductFromWishlist">
<part name="parameters" element="tns:removeProductFromWishlist"/>
</message>
<message name="removeProductFromWishlistResponse">
<part name="parameters" element="tns:removeProductFromWishlistResponse"/>
</message>
<message name="ProductDoesNotExistException">
<part name="fault" element="tns:ProductDoesNotExistException"/>
</message>
<portType name="WebEntw">
<operation name="login">
<input wsam:Action="http://resource/WebEntw/loginRequest" message="tns:login"/>
<output wsam:Action="http://resource/WebEntw/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="productWID">
<input wsam:Action="http://resource/WebEntw/productWIDRequest" message="tns:productWID"/>
<output wsam:Action="http://resource/WebEntw/productWIDResponse" message="tns:productWIDResponse"/>
</operation>
<operation name="validateCode">
<input wsam:Action="http://resource/WebEntw/validateCodeRequest" message="tns:validateCode"/>
<output wsam:Action="http://resource/WebEntw/validateCodeResponse" message="tns:validateCodeResponse"/>
</operation>
<operation name="products">
<input wsam:Action="http://resource/WebEntw/productsRequest" message="tns:products"/>
<output wsam:Action="http://resource/WebEntw/productsResponse" message="tns:productsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://resource/WebEntw/helloRequest" message="tns:hello"/>
<output wsam:Action="http://resource/WebEntw/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="removeProductFromCart">
<input wsam:Action="http://resource/WebEntw/removeProductFromCartRequest" message="tns:removeProductFromCart"/>
<output wsam:Action="http://resource/WebEntw/removeProductFromCartResponse" message="tns:removeProductFromCartResponse"/>
</operation>
<operation name="removeProductFromWishlist">
<input wsam:Action="http://resource/WebEntw/removeProductFromWishlistRequest" message="tns:removeProductFromWishlist"/>
<output wsam:Action="http://resource/WebEntw/removeProductFromWishlistResponse" message="tns:removeProductFromWishlistResponse"/>
<fault message="tns:ProductDoesNotExistException" name="ProductDoesNotExistException" wsam:Action="http://resource/WebEntw/removeProductFromWishlist/Fault/ProductDoesNotExistException"/>
</operation>
</portType>
<binding name="WebEntwPortBinding" type="tns:WebEntw">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productWID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="products">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProductFromCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProductFromWishlist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProductDoesNotExistException">
<soap:fault name="ProductDoesNotExistException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebEntw">
<port name="WebEntwPort" binding="tns:WebEntwPortBinding">
<soap:address location="http://localhost:8080/WebService/WebEntw"/>
</port>
</service>
</definitions>